<div class="container">

    <h1>Condiciones de registro</h1>
    <p class="lead">Es necesario que acepte las condiciones para poder registrarse.
   <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem cumque labore eum repellat fugit, similique dolorem nulla perspiciatis, 
     aut harum, rerum ullam earum ad adipisci. Voluptas pariatur harum repellendus illum.Lorem ipsum, dolor sit amet
      consectetur adipisicing elit. Deserunt cumque alias accusantium ducimus qui, rerum veritatis 
   libero adipisci incidunt eos distinctio odit, iusto molestias aperiam, at illum? Tempora, impedit totam?</p>

   
   <!--<div class="checkbox">
      <label>
        <input type="checkbox" name="check"> <span class="text-primary"[(ngModel)]="checkAcepto" >&nbsp;&nbsp;Acepto las condiciones</span>
      </label>
    </div> -->
   <br/>

   <button type="submit" class="btn btn-info" (click) = "registrar()"><i class="fa fa-sign-in" ></i> Regístrame ya mismo</button>

  </div> <!-- /container -->